.identicon {
  border-radius: 50%;
  vertical-align: middle;
  text-align: left;
  
}

.logined-div{
  text-align: left;
  padding-left:100px;
}

.profile-div{
  text-align: left;
  padding-left:100px;
}

.publicAddressFont {
 color: blue;
 font-size: 1.1em;
}

.balanceFont {
  color: red;
  font-size: 1.1em;
 }

.hidden {
  display: none;
}



 